.insta-post {
    margin-bottom: 15px;
}

.post-meta {
    background: #fff;
    text-align: left;
    font-weight: bold;
    padding: 10px;
    border: 1px solid #ddd;

    img {
        margin-right: 10px;
    }

}

.post-details {
    background: #fff ;
    padding: 15px
}

.post-actions {
    margin-bottom: 20px;

    i {
        margin-right: 10px;
        color: #ddd;
        cursor: pointer;
    }

    i.active {
        color: #555

    }

    i:hover {
        color: #999
    }
}

.comment-box {
    // padding: 15px;
    background: #fff ;
    border: 1px solid #ddd;

}

.post-comment:focus {
    box-shadow: none !important;
}

.btn-custom {
    background: transparent;
    border: 2px, solid #999;
    border-radius: 4px;
}