body {
    background: #fff;
}

.account-summary {
    text-align: left;
    margin-bottom: 20px;
}

.follower-suggestions {
    background: #fff;
    padding: 15px;
    border: 1px solid #ddd;

}    

.img-circle {
    border-radius: 50%;
}

.profile-stats {
    max-width: 360px;
    margin-bottom: 30px;
    // float: left;
}

.profile-posts {
    margin-top: 50px;
}